<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Program Info</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Style.css') }}">
    <script> //definuje  JAVASCRIPT funkci checkAccess
            //KONTROLA P5IHLASENI A REGISTRACE

        function checkAccess(action) {
            // Volání backendu by vypadalo jako fetch('/api/check-auth')
            const isLoggedIn = localStorage.getItem("isLoggedIn") === "true";
            const isRegistered = localStorage.getItem("isRegistered") === "true";

            if (!isLoggedIn) {
                if (confirm("Chcete se přihlásit?")) {
                    window.location.href = "prihlaseni.html";
                }
                return;
            }

            if (!isRegistered) {
                if (confirm("Chcete se zaregistrovat?")) {
                    window.location.href = "registrace.html";
                }
                return;
            }

            if (action === 'play') {
                window.location.href = "hrat.html";
            }

        }
    </script>
</head>
<body>
    <header>
        <h1>Bludiště hra</h1>
        <nav>
            <div class="hamburger" onclick="toggleMenu()">☰</div>
            <ul>
                <li><a href="{{ url_for('o_hre') }}">O hře</a></li>
                <li><a href="{{ url_for('scoreboard') }}">Scoreboard</a></li>
                {% if 'user_id' not in session %}
                    <li><a href="{{ url_for('prihlaseni') }}">Přihlášení</a></li>
                    <li><a href="{{ url_for('registrace') }}">Registrace</a></li>
                {% else %}
                    {% if session.get('is_admin') %}
                        <li><a href="{{ url_for('admhraci') }}">Administrace hráčů</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('odhlaseni') }}">Odhlásit se</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    
    <main>         
    <!-- Obsah stránek bude záležet na odkazech výše -->
    <p>Bludiště hra je zábavná a náročná hra, ve které se hráči snaží najít cestu ven z bludiště...</p>

    </main>
    <footer>
        <p>Eliška Froňková IT4</p>
        <a href="https://github.com/uzivatelsky-projekt" target= "_blank" rel="noopener noreferrer">GitHub projekt</a>
    </footer>

</body>
</html>